﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebPage1.aspx.cs" Inherits="Sol_CrossPostBack.WebPage1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <asp:TextBox ID="txtName" runat="server"></asp:TextBox>
        
        <asp:TextBox ID="txtName1" runat="server"></asp:TextBox>
        
        <asp:TextBox ID="txtName2" runat="server"></asp:TextBox>
        
        <asp:TextBox ID="txtName3" runat="server"></asp:TextBox>
        
        <asp:TextBox ID="txtName4" runat="server"></asp:TextBox>
        

        <asp:Button ID="btnSubmit" runat="server" Text="Submit" PostBackUrl="~/WebPage2.aspx" />
    </div>
    </form>
</body>
</html>
