﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebPage2.aspx.cs" Inherits="Sol_CrossPostBack.WebPage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span id="spanName" runat="server"></span>
        <br />
        <span id="spanName1" runat="server"></span>
        <br />
        <span id="spanName2" runat="server"></span>
        <br />
        <span id="spanName3" runat="server"></span>
        <br />
        <span id="spanName4" runat="server"></span>

    </div>
    </form>
</body>
</html>
